{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}
    location.name
{% endblock %}


{% block pane-one-title %}
    Upcoming Trips
{% endblock %}
{% block pane-one %}
    <h4>Trip Details</h4>
    <form method="post" action="{% url 'trip_create' location.pk %}">
    {% csrf_token %}
    {% bootstrap_form form layout='inline'%}
    <input type="submit" value="Create A Trip" class="btn btn-success">
    </form>
{% endblock %}

{% block pane-two-title %}
    This Shouldn't be here...
{% endblock %}

{% block pane-two %}
Nothing at all
{% endblock %}

{% block pane-three-title %}
    Weather - Home Locations
{% endblock %}

{% block pane-three %}
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ view.kwargs.lat }}&lon={{ view.kwargs.lng }}"> </iframe>
{% endblock %}


{% block javascript %}
<script>
    var iconBase = '{% static 'img/' %}';
    var icons = {
      invited: {
        icon: iconBase + 'purplefire.png'
      },
      upcoming: {
        icon: iconBase + 'redfire.png'
      },
      past: {
        icon: iconBase + 'blackfire.png'
      },
      home: {
          icon: iconBase + 'home.png'
      },
      campsite: {
          icon: iconBase + 'campsite.png'
      }
    };
    function initMap() {
        var defautLat = Number({{ location.lat }});
        var defautLng = Number({{ location.lng }});
        var myLatLng2 = {lat: defautLat, lng: defautLng};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng2,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        });
        //loop thought locations and call the marker place functions

        placeMarker();

        //adds markers for each trip type
        //place a marker on the center of the map
        function placeMarker() {
            var marker = new google.maps.Marker({
                map: map,
                position: {
                    lat: defautLat,
                    lng: defautLng
                },
                icon: icons['campsite'].icon
            });


</script>
{% endblock %}
