{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    location.name
{% endblock %}
{#TODOL find the proper lat.lng#}
{% block zoomlevel %}10{% endblock %}
{% block lat %}{{ location.lat }}{% endblock %}
{% block lng %}{{ location.lng }}{% endblock %}

{% block pane-one-title %}
    Upcoming Trips
{% endblock %}
{% block pane-one %}
    <h4>Trip Details</h4>
    <form method="post" action="{% url 'trip_create' location.pk %}">
    {% csrf_token %}
    {% bootstrap_form form layout='inline'%}
    <input type="submit" value="Create A Trip" class="btn btn-success">
    </form>
{% endblock %}

{% block pane-two-title %}
    This Shouldn't be here...
{% endblock %}

{% block pane-two %}
Nothing at all
{% endblock %}

{% block pane-three-title %}
    Weather - Home Locations
{% endblock %}

{% block pane-three %}
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ view.kwargs.lat }}&lon={{ view.kwargs.lng }}"> </iframe>
{% endblock %}