{% extends 'base.html' %}
{% block title %}
    location.name
{% endblock %}
{#TODOL find the proper lat.lng#}
{% block lat %}{{ location.lat }}{% endblock %}
{% block lng %}{{ location.lng }}{% endblock %}

{% block pane-one-title %}
    
{% endblock %}

{% block pane-one %}
    <h4></h4>
    
{% endblock %}

{% block pane-two-title %}
    
{% endblock %}

{% block pane-two %}

{% endblock %}

{% block pane-three-title %}

{% endblock %}

{% block pane-three %}
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ view.kwargs.lat }}&lon={{ view.kwargs.lng }}"> </iframe>
{% endblock %}