{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
    {{ location.name }}
{% endblock %}
{% block zoomlevel %}12{% endblock %}
{% block lat %}{{ location.lat }}{% endblock %}
{% block lng %}{{ location.lng }}{% endblock %}

{% block pane-one-title %}
    {{ location.name }}
{% endblock %}

{% block pane-one %}
{#    TODO: Style this, get rid of the BR's and inline style#}
    <p>{{ location.city }}</p>
    <br>
    {% if photos %}
        <img src="{{ photos.0.url }}" height="200px" width="200px">
        <br><BR>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">See More Photos</button>
    {% else %}
        <p>There Are No Photos For This Location <a href="{% url 'image_upload' location.id %}">Upload One?</a></p>
    {% endif %}
    <p><a href="{% url 'trip_create' location.id %}" class="btn btn-success">Create A Trip Here</a>

{% endblock %}


{% block pane-two-title %}
    Reviews
{% endblock %}

{% block pane-two %}

        <p>Average Rating = X.X</p>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">See Reviews</button>

{% endblock %}

{% block pane-three-title %}

{% endblock %}

{% block pane-three %}
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245"
            width="100%"
            src="http://forecast.io/embed/#lat={{ location.lat }}&lon={{ location.lng }}&name={{ location.name }}"></iframe>
{% endblock %}

{% block modal %}
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Reviews</h4>
      </div>
      <div class="modal-body">

            <h4>Been Here? Leave a Review!</h4>
            <form method="post" action="{% url 'review_create' pk=location.pk %}">
            {% csrf_token %}
                <div class="form-group">
                <label for="reviewContent">How Was Your Trip?</label>
                <textarea name='content' class="form-control" id="reviewContent" placeholder="Here's my Story" rows="3"></textarea>
                <input type="hidden" name='location' value="{{ location.pk }}">
                </div>
                <input type="submit" value="Leave A Review" class="btn btn-success">
            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
