<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 70%;
        width: 70%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>

  </head>
  <body>
  {{ locations }}
    <div id="map"></div>
    <script>
var jslocations = eval('{"model": "main.location", "pk": 1, "fields": {"long": "-114.9251745", "lat": "36.0492741"}}, {"model": "main.location", "pk": 2, "fields": {"long": "-115.638731", "lat": "36.266718"}}');
function initMap() {
    var jslocations = eval('{{ jslocations }}');

    var myLatLng2 = {lat: 36.365, lng: -115.064};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: myLatLng2
    });
{#    var infowindow = new google.maps.InfoWindow({#}
{#        content: 'check check check'#}
{#    });#}

    for (loc in jslocations) {
        var myLatLng = {lat: Number(jslocations[loc].fields.lat), lng: Number(jslocations[loc].fields.long)};

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
        marker.setMap(map);

        var infowindow = new google.maps.InfoWindow({
            content: 'test = ' + loc
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker)
        });
    }


{#    map.addListener("click", function(event) {#}
{#        var lat = event.latLng.lat();#}
{#        var lng = event.latLng.lng();#}
{#        // populate yor box/field with lat, lng#}
{#        alert("Lat=" + lat + "; Lng=" + lng);#}
{#    });#}
}
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
  </body>
</html>
