{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    Home
{% endblock %}
{% block zoomlevel %}10{% endblock %}
{% block lat %}{{ camper.lat }}{% endblock %}
{% block lng %}{{ camper.lng }}{% endblock %}

{% block pane-one-title %}
    Upcoming Trips
{% endblock %}
{% block pane-one %}
    <h4>Invited To</h4>
    {% if camper.invited.count > 0  %}
        {% for trip in camper.invited_trips %}
                <a href="{% url 'trip_detail' trip.pk %}" class="list-group-item">
                <p>{{ trip.title }}</p>
                <p>{{ trip.location.name }}</p>
                <p>{{ trip.start_date }} - {{ trip.end_date }}</p>

{#                TODO: remove the inlne style tags!#}
                <form method="post" action="{% url 'accept_decline' trip.pk %}" style="float: left; padding-right: 10px">
                {% csrf_token %}
                <input type="hidden" name="action" value="attending">
                <input type="hidden" name="trip" value="{{ trip.pk }}">
                <input type="hidden" name="attending" value="{{ camper.pk }}">
                <input type="submit" value="I'm Going" class="btn btn-xs btn-success">
                </form>

                <form method="post" action="{% url 'accept_decline' trip.pk %}" style="clear: right">
                {% csrf_token %}
                <input type="hidden" name="action" value="declined">
                <input type="hidden" name="trip" value="{{ trip.pk }}">
                <input type="hidden" name="declined" value="{{ camper.pk }}">
                <input type="submit" value="Can't Make It" class="btn btn-xs btn-success">
                </form>

            </a>
        {% endfor %}
    {% else %}
                <p>You Currently Aren't invited On Any Trips</p>
    {% endif %}

    <h4>Upcoming:</h4>
    {% if camper.upcoming_trips  %}
        {% for trip in camper.upcoming_trips %}
            <a href="{% url 'trip_detail' trip.pk %}" class="list-group-item">
            <p>What: {{ trip.title }}</p>
            <p>Where: {{ trip.location.name }}</p>
            <p>When: {{ trip.start_date }} - {{ trip.end_date }}</p>
            <p>Created By: {{ trip.owner }}</p>
            {% if trip.attending.all %}
            <p>Attending: {% for person in trip.attending.all %}
                {{ person.user.username }}</p>
                {% endfor %}
            {% else %}
                <p>No One has accept yet</p>
            {% endif %}
            </a>
        {% endfor %}
    {% else%}

        <p>You Have No Upcoming Trips!</p>
    {% endif %}
{% endblock %}

{% block pane-two-title %}
    Past Trips
{% endblock %}

{% block pane-two %}
    {% if camper.past_trips  %}
        {% for trip in camper.past_trips %}
            <a href="{% url 'trip_detail' trip.pk %}" class="list-group-item">
            <p>{{ trip.title }}</p>
            <p>{{ trip.location.name }}</p>
            <p>{{ trip.start_date }} - {{ trip.end_date }}</p>
            <p>{{ trip.owner }}</p>
            <p>{% for person in trip.attending.all %}
                {{ person.username }}</p>
                {% endfor %}
            </a>
            {% endfor %}
    {% else%}
        <p>You Haven't Been On Any Trips Yet!</p>
    {% endif %}
{% endblock %}

{% block pane-three-title %}

{% endblock %}

{% block pane-three %}
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ camper.lat }}&lon={{ camper.lng }}&name={{ camper.zip }}"> </iframe>
{% endblock %}

